main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  main article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    padding: 10px; }
    main article label {
      margin-bottom: 7px;
      color: #7a8f98;
      font-size: 12px;
      font-weight: bold; }
    main article section {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      main article section input {
        height: 36px;
        min-width: 300px;
        border-radius: 4px;
        border: 1px solid #dbe0df;
        padding: 0px 10px 0px;
        font-size: 14px; }
      main article section input:focus {
        border: 1px solid #2ca3aa; }
      main article section span {
        position: absolute;
        cursor: pointer;
        visibility: hidden;
        padding-right: 12px;
        color: #ababab;
        font-size: larger;
        font-weight: bold; }
